* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.signup .container {
    width: 35%;
    margin: 100px auto;
    border: 1px solid #aeaeae;
    padding: 10px 15px; 
    box-shadow: 6px 3px 11px rgb(133 131 131 / 72%);
}
.signup .container h3 {
    font-size: 37px;
    font-weight: 600;
    margin: 6px 0 24px;
   
}
.signup .container .inputs {
    margin-bottom: 19px; 
    position: relative;

}
.signup .container .inputs label {
    position: absolute;
    top: 14px;
    left: 106px;
}
.signup .container .inputs .icon {
    margin-right: 10px;
    color: #9b9696;
}
.signup .container .inputs input {
    width: 260px;
    height: 48px;
    padding: 10px 45px;
}
.signup .container button {
    background-color: #d1062df0;
    border: none;
    color: white;
    font-size: 26px;
    padding: 8px 47px;
    border-radius: 14px;
    font-weight: normal;
    margin: 10px auto 21px;  
    display: block;
}
.signup .container  p {
    display: inline-block;
    margin-right: 15px ;
    margin-bottom: 22px;
}
