#top {
    padding-top: 120px;
}
#top .title {
    text-align: left;
    padding: 0 7%;
}
#top .title span {
    margin-left: 76%;
    font-size: 14px;
    color: grey;
}
#top .title h2 {
    margin-bottom: 21px;
    display: inline-block;
}
#top .title .ticon {
    font-size: 21px;
    margin-right: 8px;
    color: #d82347f0;
}

#top .container {
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
#top  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
#top  .card .data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 1px;
    font-size: 11px;
    top: 20px;
    padding: 8px 27px;
    
}
#top  .card .data span:first-of-type {
    background-color: #0f3460;
    color: #fff;
    border-radius: 13px;
    padding: 2px 10px;
}
#top  .card .data span:last-of-type {
    background-color: #f0f8ff;
    padding: 2px 10px;
    border-radius: 13px;
}