* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
}

code {
  font-family: "Poppins", sans-serif;
}
.conatiner {
  padding: 0 7%;
}
